.profiles {
  display: flex;
  flex-direction: row;
  width: 100vw;
  column-gap: 20px;
  justify-content: flex-start;
}
.profiles div {
  background-color: rgba(112, 128, 144, 0.61);
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  border-style: solid;
  border-radius: 5%;
  width: 100px;
  height: 140px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.profiles div:hover {
  background-color: rgba(16, 75, 134, 0.61);
}
.profiles p {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 30px;
  color: black;
  transition: color 2s ease-out 100ms;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.header {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0;
  padding: 0;
}
.profiles img {
  border-style: solid;
}